<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GFeedbacks.Properties.Profiles" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GFeedbacks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SettingsContainer" connectionString="metadata=res://*/Settings.csdl|res://*/Settings.ssdl|res://*/Settings.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\barabash\Documents\SettingsDB.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
       <binding name="ListsSoap"
                 maxReceivedMessageSize="200000000"
                 maxBufferSize="200000000"
                 maxBufferPoolSize="200000000">
            <readerQuotas maxDepth="32"
                 maxArrayLength="2000000000"
                 maxStringContentLength="2000000000"/>
                
                <security mode="TransportCredentialOnly">
                  <transport clientCredentialType="Ntlm"/>
                </security>
              </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://inside.office.palex/_vti_bin/Lists.asmx"
        binding="basicHttpBinding" bindingConfiguration="ListsSoap"
        contract="ListsService.ListsSoap" name="ListsSoap" />
    </client>
  </system.serviceModel>
  <userSettings>
    <GFeedbacks.Properties.Profiles>
      <setting name="Setting" serializeAs="String">
        <value>C:\Users\barabash\documents\visual studio 2015\Projects\GFeedbacks\GFeedbacks\SettingsFolder\TestProfile.json</value>
      </setting>
    </GFeedbacks.Properties.Profiles>
  </userSettings>
  <applicationSettings>
    <GFeedbacks.Properties.Settings>
      <setting name="RowLimit" serializeAs="String">
        <value>10000</value>
      </setting>
    </GFeedbacks.Properties.Settings>
  </applicationSettings>
</configuration>